:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 46%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}
 
* {
    box-sizing: border-box;  
}

body {
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;    
    display: flex;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

main{
    width: 350px;
    margin: 0 auto;
}

.card{
    background-color: white;
    padding: 14px;
    /* margin: 1rem; */
    text-align: center;
    border-radius: 18px;
}

.card img{
    width: 100%;
    border-radius: 12px;
}

.text{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: white;
    color: hsl(220, 15%, 55%);
}

.text>h2{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    margin-top: 8px;
}